<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/resetPassword.css">
</head>
<body>
    <h4 class="mt-5 mb-4">Reset Password</h4>
    <form action="/resetPassword" method="post">
        <span id="console"></span>

        <input placeholder="enter number" id="number" name="number" type="number">
        <div class="btn px-3" style="background-color: #2FAE9F;" id="get-otp">Get OTP</div>

        <input placeholder="OTP" id="otp" name="otp" type="text">
        <input placeholder="new password" name="new_password" id="new-password" type="text">
        <div class="btn " style="background-color: #2FAE9F;"  id="submit">Submit</div>

    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.querySelector('#get-otp').addEventListener('click',()=>{
            var number = document.querySelector("#number").value;

            if(number){
                if(number.length > 9){
                    document.querySelector("#get-otp").style.display = "none";
                    axios.get('/reset/otp/'+number).then((res)=>{
                        if(res.data == "OTP sent successfully"){
                            document.querySelector("#number").disabled = true;
                            document.querySelector("#otp").style.display = "inline-block";
                            document.querySelector("#new-password").style.display = "inline-block";
                            document.querySelector("#submit").style.display = "inline-block";

                            document.querySelector("#submit").addEventListener('click',()=>{
                                if(document.querySelector("#otp").value && document.querySelector("#new-password").value){
                                    document.querySelector("#number").disabled = false;
                                    document.querySelector('form').submit();
                                }else{
                                    alert('all fields are required');
                                }
                            });
                        }else{
                            document.querySelector("#get-otp").style.display = "inline-block";
                        }
                        if(res.data == "OTP sent successfully"){
                            document.querySelector('#console').className = 'text-success';
                        }else{
                            document.querySelector('#console').className = 'text-danger';
                        }
                        document.querySelector("#console").innerText = res.data;
                    });
                }else{
                    alert("not a valid number");
                }
            }else{
                alert("number cant be empty");
            }
        });

    </script>
</body>
</html>