.admin-panel{
    text-decoration: underline;
}
.table-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 17px;
}
.table-section > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.table-section span{
    width: 25%;
    min-width: 110px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0px;
}
.field-headings{
    font-size: large;
    font-weight: bold;
    border-bottom: 1px solid gray;
}
.actions-holder{
    display: flex !important;
    justify-content: space-between !important;
    padding: 10px 10px !important;
}
.btn{
    padding: .375rem 1rem !important;
    font-size: 1rem;
    margin: 0px 5px;
    height: fit-content;
}
.heading-holder{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 25px 0;
    position: relative;
}
