body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 20px;
    margin-bottom: 90px;
    text-decoration: underline;
    font-size: 38px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#otp{
    display: none;
}
#new-password{
    display: none;
}
#submit{
    display: none;
}
input{
    border: 2px solid #2FAE9F;
    border-radius: 3px;
    font-size: x-large;
    width: 80vw;
    padding-left: 7px;
    margin-bottom: 10px;
}
.btn-info{
    width: 100%;
}
#console{
    align-self: flex-start;
    margin-left: 5px;
    line-height: 0;
    position: relative;
    bottom: 11px;
}