<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta http-equiv="refresh" content="3;url=/" />
</head>
<body style="display: flex;height: 100vh;justify-content: center;align-items: center;flex-direction: column;">
    <h1 style="color: red;position: absolute;top: 100px;font-size: 45px;">Payment Failed</h1>
    <br>
    <h1 style="text-align: center; color: #299c8f;">you will be redirected to home page in 3 seconds...</h1>
    <a href="/">
        <button style="padding: 8px 25px;background-color: #2FAE9F;border: 1px solid #299c8f;border-radius: 3px;color: white;font-size: large;margin-top: 250px;">
            Continue to Home
        </button>
    </a>
</body>
</html>