<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

    <%- include('../reuseable/navbar'); -%>
    <link rel="stylesheet" href="/css/policies.css">

    <h1>Refund Policy</h1>


    Returns



    Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.


    To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.

    Several types of goods are exempt from being returned. Perishable goods such as food, flowers, newspapers or magazines cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases.

    Additional non-returnable items:

    Gift cards



    Downloadable software products



    Some health and personal care items


    To complete your return, we require a receipt or proof of purchase.


    Please do not send your purchase back to the manufacturer.

    There are certain situations where only partial refunds are granted: (if applicable)

    Book with obvious signs of use

    CD, DVD, VHS tape, software, video game, cassette tape, or vinyl record that has been opened.

    Any item not in its original condition, is damaged or missing parts for reasons not due to our error.

    Any item that is returned more than 30 days after delivery

    Refunds (if applicable)

    Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.

    If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.

    Late or missing refunds (if applicable)

    If you haven’t received a refund yet, first check your bank account again.

    Then contact your credit card company, it may take some time before your refund is officially posted.

    Next contact your bank. There is often some processing time before a refund is posted.

    If you’ve done all of this and you still have not received your refund yet, please contact us at [zokh.shop@gmail.com].

    Sale items (if applicable)

    Only regular priced items may be refunded, unfortunately sale items cannot be refunded.

    Exchanges (if applicable)

    We only replace items if they are defective or damaged.  If you need to exchange it for the same item, send us an email at [zokh.shop@gmail.com] and send your item to: 298 sector 9 malviya Nagar jaipur 302017

    Gifts

    If the item was marked as a gift when purchased and shipped directly to you, you’ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you.

    If the item wasn’t marked as a gift when purchased, or the gift giver had the order shipped to themselves to give to you later, we will send a refund to the gift giver and he will find out about your return.

    Shipping

    To return your product, you should mail your product to: 622 Manglam Electronic Market Jaipur Rajasthan India 302001.

    You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.

    Depending on where you live, the time it may take for your exchanged product to reach you, may vary.

    If you are shipping an item over $75, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.

    Published by Google Drive–Report Abuse

    <br>
    <br>
    <br>
    <br>
    <br>

    Young India store ("we" and "us") is the operator of (https://youngindia.store)
    ("Website"). By placing an order through this Website you will be agreeing to
    the terms below. These are provided to ensure both parties are aware of and
    agree upon this arrangement to mutually protect and set expectations on our
    service.

    1. General
    Subject to stock availability. We try to maintain accurate stock counts on our
    website but from time-to-time there may be a stock discrepancy and we will not
    be able to fulfill all your items at time of purchase. In this instance, we will
    fulfill the available products to you, and contact you about whether you would
    prefer to await restocking of the backordered item or if you would prefer for us
    to process a refund.

    2. Shipping Costs
    Shipping costs are calculated during checkout based on weight, dimensions and
    destination of the items in the order. Payment for shipping will be collected
    with the purchase.
    This price will be the final price for shipping cost to the customer.

    3. Returns
    3.1 Return Due To Change Of Mind
    Young India store will happily accept returns due to change of mind as long as a
    request to return is received by us within 3 days of receipt of item and are
    returned to us in original packaging, unused and in resellable condition.
    Return shipping will be paid at the customers expense and will be required to
    arrange their own shipping.
    Once returns are received and accepted, refunds will be processed to store
    credit for a future purchase. We will notify you once this has been completed
    through email.
    (Young India store) will refund the value of the goods returned but will NOT
    refund the value of any shipping paid.

    3.2 Warranty Returns
    Young India store will happily honor any valid warranty claims, provided a claim
    is submitted within 90 days of receipt of items.
    Customers will be required to pre-pay the return shipping, however we will
    reimburse you upon successful warranty claim.
    Upon return receipt of items for warranty claim, you can expect Young India
    store to process your warranty claim within 7 days.
    Once warranty claim is confirmed, you will receive the choice of:
    (a) refund to your payment method
    (b) a refund in store credit
    (c) a replacement item sent to you (if stock is available)

    4. Delivery Terms
    4.1 Transit Time Domestically
    In general, domestic shipments are in transit for 2 - 7 days

    4.2 Transit time Internationally
    Generally, orders shipped internationally are in transit for 4 - 22 days. This
    varies greatly depending on the courier you have selected. We are able to offer
    a more specific estimate when you are choosing your courier at checkout.

    4.3 Dispatch Time
    Orders are usually dispatched within 2 business days of payment of order
    Our warehouse operates on Monday - Friday during standard business hours, except
    on national holidays at which time the warehouse will be closed. In these
    instances, we take steps to ensure shipment delays will be kept to a minimum.

    4.4 Change Of Delivery Address
    For change of delivery address requests, we are able to change the address at
    any time before the order has been dispatched.

    4.5 P.O. Box Shipping
    Young India store will ship to P.O. box addresses using postal services only. We
    are unable to offer couriers services to these locations.

    4.6 Military Address Shipping
    We are able to ship to military addresses using USPS. We are unable to offer
    this service using courier services.


    4.7 Items Out Of Stock
    If an item is out of stock, we will dispatch the in-stock items immediately and
    send the remaining items once they return to stock.

    4.8 Delivery Time Exceeded
    If delivery time has exceeded the forecasted time, please contact us so that we
    can conduct an investigation.

    5. Tracking Notifications
    Upon dispatch, customers will receive a tracking link from which they will be
    able to follow the progress of their shipment based on the latest updates made
    available by the shipping provider.

    6. Parcels Damaged In Transit
    If you find a parcel is damaged in-transit, if possible, please reject the
    parcel from the courier and get in touch with our customer service. If the
    parcel has been delivered without you being present, please contact customer
    service with next steps.

    7. Duties & Taxes
    7.1 Sales Tax
    Sales tax has already been applied to the price of the goods as displayed on the
    website

    7.2 Import Duties & Taxes
    Import duties and taxes for international shipments may be liable to be paid
    upon arrival in destination country. This varies by country, and Young India
    store encourage you to be aware of these potential costs before placing an order
    with us.
    If you refuse to to pay duties and taxes upon arrival at your destination
    country, the goods will be returned to Young India store at the customers
    expense, and the customer will receive a refund for the value of goods paid,
    minus the cost of the return shipping. The cost of the initial shipping will not
    be refunded.

    8. Cancellations
    If you change your mind before you have received your order, we are able to
    accept cancellations at any time before the order has been dispatched. If an
    order
    has already been dispatched, please refer to our refund policy.

    9. Insurance
    Parcels are insured for loss and damage up to the value as stated by the
    courier.

    9.1 Process for parcel damaged in-transit
    We will process a refund or replacement as soon as the courier has completed
    their investigation into the claim.

    9.2 Process for parcel lost in-transit
    We will process a refund or replacement as soon as the courier has conducted an
    investigation and deemed the parcel lost.

    10. Customer service
    For all customer service enquiries, please email us at zokh.shop@gmail.com

    Shipping Policy Generated at Easyship.com [https://www.easyship.com]



    <%- include('../reuseable/footer'); -%>
</body>
</html>
