
</div>

<!-- footer -->
<div class="footer">
    <a href="/">
        <img src="../images/home.png" style="width: 32px;" />
    </a>
        <a href="/profile">
            <i class="fas fa-user-circle fa-2x"></i>
        </a>
        <a href="/orders">
            <i class="fas fa-shopping-bag fa-2x"></i>
        </a>

    <a href="/more">
        <i class="fas fa-cog fa-2x"></i>
    </a>
</div>